{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block main %}
{% load static %}
<div style="margin: 0px 0px 15px;"></div>
<h1 class="headline">盤面設定</h1>

<form action="{% url 'gamePage' %}" method="post"  class="inline-block">
    {% csrf_token %}
    縦：<input class="y-range" type="range" min="4" max="10" step="2" id="high" name="high">
    <span id="viewy">8</span><br>
    横：<input class="x-range" type="range" min="4" max="10" step="2" id="width" name="width">
    <span id="viewx">8</span>

    <div style="margin:400px;"></div>

    <br>
    <button class="playbutton" type="submit">
        <span class="playbutton_lg">
            <span class="playbutton_sl"></span>
            <span class="playbutton_text">Play Now!</span>
        </span>
    </button>
</form>



<script type="text/javascript">
    let viewy = document.getElementById('viewy');
    let viewx = document.getElementById('viewx');
    let h = document.getElementById('high');
    let w = document.getElementById('width');


    // 盤面幅変更時
    w.addEventListener('input', (e) => {
        width = e.target.value;
        viewx.innerText = width;
    });
    h.addEventListener('input', (e) => {
        height = e.target.value;
        viewy.innerText = height;
    });
</script>
{% endblock %}
