{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block extraheader %}
<link rel="stylesheet" href="{% static 'reversisite/css/body.css' %}">
{% endblock %}
{% block main %}
{% load static %}
<div style="margin: 0px 0px 15px;"></div>
<h1 class="headline">盤面設定</h1>

<form action="{% url 'gamePage' %}" method="post"  class="inline-block">
    {% csrf_token %}
    <div id="borad_size_select">
        縦：<input class="y-range" type="range" value="8" min="4" max="10" step="2" id="high" name="high">
        <span id="viewy">8</span><br>
        横：<input class="x-range" type="range" value="8" min="4" max="10" step="2" id="width" name="width">
        <span id="viewx">8</span>    
    </div>
    
    <div class="m-3 card text-dark bg-light" id="preview">
        <div class="card-header">
            <h2>Preview</h2>
            <p>※ 実際のプレイは<strong>「PLAY NOW!」</strong>をクリックしてください。</p>
        </div>
        <div class="p-3" id="playground"></div>
    </div>

    <button class="playbutton" type="submit">
        <span class="playbutton_lg">
            <span class="playbutton_sl"></span>
            <span class="playbutton_text">Play Now!</span>
        </span>
    </button>
</form>



<script type="text/javascript">
    const KOMAIMG = {
        0: "{% static 'reversisite/img/none.png' %}",
        1: "{% static 'reversisite/img/black.jpg' %}",
        2: "{% static 'reversisite/img/white.jpg' %}"
    }

    class PreviewBoard {
        constructor(height, width) {
            this.TABLE_ELEM = document.createElement('table');
            this.TABLE_ELEM.id = 'mainTable';
            this.height = height;
            this.width = width;

            this.setBoard();
        }

        setBoard() {
            this.TABLE_ELEM.innerHTML = "";
            for (let y = 0; y < this.height; y ++) {
                const TR_ELEM = document.createElement('tr');
                for (let x = 0; x < this.width; x ++) {
                    const TD_ELEM = document.createElement('td');
                    const IMG_ELEM = document.createElement('img');

                    const BASE_Y = (this.height / 2) - 1;
                    const BASE_X = (this.width / 2) - 1;
                    
                    if ((y == BASE_Y && x == BASE_X) || (y == BASE_Y+1 && x == BASE_X+1)) {
                        IMG_ELEM.src = KOMAIMG[1];
                    } else if ((y == BASE_Y && x == BASE_X+1) || (y == BASE_Y+1 && x == BASE_X)) {
                        IMG_ELEM.src = KOMAIMG[2];
                    } else {
                        IMG_ELEM.src = KOMAIMG[0];
                    }

                    TD_ELEM.appendChild(IMG_ELEM);
                    TR_ELEM.appendChild(TD_ELEM);
                }
                this.TABLE_ELEM.appendChild(TR_ELEM);
            }
        }
        
        changeBoard(height=0, width=0) {
            if (height) {
                this.height = height;
            }
            if (width) {
                this.width = width;
            }
            this.setBoard()
        }
    }

    let viewy = document.getElementById('viewy');
    let viewx = document.getElementById('viewx');
    let h = document.getElementById('high');
    let w = document.getElementById('width');
    let playgroundElem = document.getElementById('playground');
    let board = new PreviewBoard(8, 8);
    playgroundElem.appendChild(board.TABLE_ELEM);


    // 盤面幅変更時
    w.addEventListener('input', (e) => {
        width = e.target.value;
        viewx.innerText = width;
        board.changeBoard(0, width);
    });
    h.addEventListener('input', (e) => {
        height = e.target.value;
        viewy.innerText = height;
        board.changeBoard(height, 0);
    });
</script>
{% endblock %}
