{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block main %}
<h1 class="headline">Outline</h1>
<h2>〜variable othelloって？〜</h2>
<p>
    日本語訳すると可変式オセロです。<br>
    可変式オセロって聞くと何のこととなると思います。<br>
    これは簡単にいうと縦横のマスの数を<br>
    自分で決めることができるオセロゲームなのです。<br>
    ぜひ新感覚のオセロをお楽しみください！<br><br>
    <img src="{% static 'othellosite/img/othello.png' %}" class="img-fluid" style="border:#000 solid 1px;"><br><br>
    <a class="btn btn-outline-primary bi bi-play-fill btn-lg col-md-4 col-sm-6 col-xs-12" href="{% url 'topPage' %}">ゲームをプレイする</a>
</p>

{% endblock %}