{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block main %}
{% load static %}
<header>
    <h1>バリアブルオセロ</h1>
    <h2>盤面設定</h2>
</header>

<form action="">
    縦：<input type="range" min="4" max="10" step="2" id="high">
    <input type="number" id="viewy" value="8" readonly><br>
    横：<input type="range" min="4" max="10" step="2" id="width">
    <input type="number" id="viewx" value="8" readonly>
</form>

<a class="inline-block button" href="{% url 'gamePage' %}">{% bootstrap_button button_type="submit" content="ゲームスタート" %}</a>

<script type="text/javascript">
    let viewy = document.getElementById('viewy');
    let viewx = document.getElementById('viewx');
    let h = document.getElementById('high');
    let w = document.getElementById('width');


    // 盤面幅変更時
    w.addEventListener('input', (e) => {
        width = e.target.value;
        viewx.value = width;
    });
    h.addEventListener('input', (e) => {
        height = e.target.value;
        viewy.value = height;
    });
</script>
{% endblock %}
