{% extends "base.html" %}
{% block main %}
{% load  %}
    <h1>可変マスオセロゲーム</h1>
    <button onclick="readRulebook()">利用規約を読む</button>
    <input type="checkbox" id="accept" onclick="getUserAccept()" disabled>服従する
    <a href="{% url 'topPage2' %}"><button id="goGame" disabled>ゲームに進む</button></a>
    <button onclick="location.href='https://google.com'">やめる</button>

<script lang="text/javascript">
    var isCheck = document.getElementById("accept");
    function readRulebook(){
        isCheck.disabled = false;
    }
    function getUserAccept(){
        var acceptGame = document.getElementById("goGame");
        if(isCheck.checked){
            acceptGame.disabled = false;
        }else{
            acceptGame.disabled = true;
        }
    }
</script>
{% endblock %}