{% extends "base.html" %}
{% load static %}
{% block extraheader %}
<link rel="stylesheet" href="{% static 'othellosite/css/body.css' %}">
{% endblock %}
{% block main %}
<!--11/08真ん中に寄せた(K.Y)-->
<div class="center-block">
    <h1 class="headline"><a>確認事項</a></h1>

    <!--11/10pdfサイト貼り付け-->
    <a href="{% static 'othellosite/pdf/利用規約.pdf' %}" target="_blank"><button class="btn btn-outline-dark bi bi-file-earmark-text btn-sm" onclick="readRulebook()"> 利用規約を読む</button></a>　

    <input class="form-check-input" type="checkbox" id="accept" onclick="getUserAccept()" disabled>
    <label class="form-check-label" for="accept">同意する</label>
</div>
<br>
<!--11/08 ここまで(K.Y)-->
<!--11/09追加（K.Y）-->

<div class="inner">
    <img src="{% static 'othellosite/img/osero.jpg' %}" class="img-fluid" alt="">
</div>
<br>
<!--11/09ここまで-->

<div>
    <button class="btn btn-outline-primary bi bi-play-fill btn-lg col-md-4 col-sm-6 col-xs-12" id="goGame" onclick="location.href='{% url 'acceptedTopPage' %}'" disabled> GAME PLAY</button>
    <button class="btn btn-outline-danger bi bi-x-lg btn-lg col-md-4 col-sm-6 col-xs-12" onclick="location.href='https://google.com'"> FINISH</button>
</div>

<script lang="text/javascript">
    var isCheck = document.getElementById("accept");
    function readRulebook(){
        isCheck.disabled = false;
    }
    function getUserAccept(){
        var acceptGame = document.getElementById("goGame");
        if(isCheck.checked){
            acceptGame.disabled = false;
        }else{
            acceptGame.disabled = true;
        }
    }
</script>

{% endblock %}
