{% extends "base.html" %}
{% block main %}
{% load static %}
<!--11/08真ん中に寄せた(K.Y)-->
<div>
    <h1 class="headline"><a>確認事項</a></h1>

    <!--11/10pdfサイト貼り付け-->
    <a href="{% static 'othellosite/pdf/利用規約.pdf' %}" target="_blank"><button onclick="readRulebook()">利用規約を読む</button></a>

    <input type="checkbox" id="accept" onclick="getUserAccept()" disabled>服従する

    
</div>

<!--11/08 ここまで(K.Y)-->
<!--11/09追加（K.Y）-->

<div class="inner">
    <img src="{% static 'othellosite/img/osero.jpg' %}"alt="" width="600" height="300">
</div>
<!--11/09ここまで-->

<div>
    <a href="{% url 'acceptedTopPage' %}"><button id="goGame" disabled>ゲームに進む</button></a>
    
    <button onclick="location.href='https://google.com'">やめる</button>
</div>

<script lang="text/javascript">
    var isCheck = document.getElementById("accept");
    function readRulebook(){
        isCheck.disabled = false;
    }
    function getUserAccept(){
        var acceptGame = document.getElementById("goGame");
        if(isCheck.checked){
            acceptGame.disabled = false;
        }else{
            acceptGame.disabled = true;
        }
    }
</script>
{% endblock %}