* {
    margin:0;
    padding:0;
    font-family: 游明朝;
}

main {
    text-align:center;
}

/*-------背景-------*/
.bgimg{
    background-image: url("../img/whitebg1.jpg");
    background-size: cover;
}

/*-----------header------------*/
header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    font-family: 游明朝;
}
/*------result画面------*/
#win{
    color: #fe0606;
    text-align: center;
    font-family: 游明朝;
}
/*------(X.Y変更↑)-------*/
header .headline{
    font-size: 32px;
}
.nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
}
.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
/*----------------------------*/
/*-----range-----*/
input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 20%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 20%;
    height: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #a9a9a9;
    border-radius: 25px;
    border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 33px;
    border-radius: 7px;
    background: #65001c;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #a9a9a9;
}
input[type=range]::-moz-range-track {
    width: 20%;
    height: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #a9a9a9;
    border-radius: 25px;
    border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 7px;
    background: #65001c;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 20%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #a9a9a9;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #a9a9a9;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 7px;
    background: #65001c;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #a9a9a9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #a9a9a9;
}
/*--------------*/

/*------------playbutton---------------*/
.playbutton {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
}
.playbutton::before,
.playbutton::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 0.5px solid #7D8082;
    transition: all .15s ease;
}
.playbutton::before {
    top: 0;
    border-bottom-width: 0;
}
.playbutton::after {
    bottom: 0;
    border-top-width: 0;
}
.playbutton:active,
.playbutton:focus {
    outline: none;
}
.playbutton:active::before,
.playbutton:active::after {
    right: 3px;
    left: 3px;
}
.playbutton:active::before {
    top: 3px;
}
.playbutton:active::after {
    bottom: 3px;
}
.playbutton_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}
.playbutton_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}
.playbutton_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
}
.playbutton_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff4655;
    transform: skew(-15deg);
    transition: all .2s ease;
}
.playbutton_text {
    position: relative;
}
.playbutton:hover {
    color: #0f1923;
}
.playbutton:hover .playbutton_sl {
    width: calc(100% + 15px);
}
.playbutton:hover .playbutton_lg::after {
    background-color: #fff;
}
/*--------------------------------------*/



/*----------footer------------*/
footer{
    background-color: #3b4146;
    padding: 30px 0px;
    font-family: 游明朝;
}
.school{
    color: rgb(204, 204, 204);
    display: block;
    line-height:15px;
    font-size: 15px;
    padding: 40px 0px;
}
.menber span, 
.menu span {
   color: #FFF; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7; 
   padding: 10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}
.menber li a, 
.menu li a {
    color: #FFF;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 14px;
}
.menber li, 
.menu li {
    margin: 15px 0px;
    list-style: none;
}
.menber li a:hover, 
.menu li a:hover {
    color: #CC3366;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}
.menber .fa {
    color: #CC3366;
    margin-right: 10px;
    font-size: 18px;
}
/*-------------------------------*/
