{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopPage</title>
    <link rel="stylesheet" href="{% static 'othellosite/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
    <header>
      <nav class="navbar navbar-dark navbar-expand-md bg-secondary justify-content-between">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link pl-0" href="#">Top</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Rate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Overview</a>
                    </li>
                </ul>
            </div>
            <a href="/" class="navbar-brand mx-auto d-block text-center order-8 order-md-1 w-25">Othello</a>
            <div class="navbar-collapse collapse dual-nav w-50 order-2">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-twitter"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
  
    </header>

    
   <!-- サイトの中身部分 -->   
    <main class="container">
        {% block main %}{% endblock %}
    </main>

  
  
  <!-- footer -->
  <footer class="fixed-bottom">
    
      <h1 class="teammenber">
          PentAgon I
      </h1>
      <ul class="menber-menu">
          MENBER: 
          <li>morioka </li>|
          <li>miyamoto </li>|
          <li>morita </li>|
          <li>yoshimoto </li>|
          <li>takahata </li>
          </ul>
        <p>© All rights reserved by morioka</p>
  </footer>
</body>
</html>